body {
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.top-menu{
    display: flex;
    justify-content: center;
    width: inherit;
    font: white;

}
.logo {
    background-color: white;
    display: flex;
    justify-content: left;
    width: 20%;
}
.content {
    background-color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 80%;
    color: black;
    font: 50px Arial;


    
}
.link {
    color: white;
}
.form {
    display: flex;
    flex-direction:column;
    font-size: large;
    font: Arial;
    color:white
}
.list {
    display: flex;
    justify-content: end;
}
.orange {
    color: #fa0303
}

.pink {
    color: #ff00ea
}

.container {
    width: 300px;
    height: 300px;
    background-color: white;
    color: black;
    
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.tr, td, th{
    border: 1px solid white;
    
}

.thead {
    color: white;
    width: 20%
}

.p, h1, h2, h3, h4, h5 {
    font: Arial white;

}