body {
    background-image: url('kotki.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    h1 {
        color: #0593ff;
        position: center top
    }

    ;

    h2 {
        color: #d3ff12
    }

    ;

    h3 {
        color: #ea17b5
    }

    ;

    h4 {
        color: #ffac12
    }

}

.orange {
    color: #fa0303
}

.pink {
    color: #ff00ea
}

.container {
    width: 300px;
    height: 300px;
    background-color: black;
    color:white;
    
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}